body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 7px;
}

#map {
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* width: 100%; */
}

.marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.paddedBtn {
  margin: 5px !important;
}